@model Candidate


<div class="diplay-6">
    Apply
</div>

<form method="post" action="/course/apply">
    <div class="form-group my-2">
        <label for="">Email</label>
        <input name="Email" class="form-control">
    </div>
    <div class="form-group my-2">
        <label for="">FirstName</label>
        <input name="FirstName" class="form-control">
    </div>
    <div class="form-group my-2">
        <label for="">LastName</label>
        <input name="LastName" class="form-control">
    </div>
    <div class="form-group my-2">
        <label for="">Age</label>
        <select name="Age" class="form-control">
            @for (int age = 18; age <= 24; age++)
            {
                <option value="@age">@age</option>
            }
        </select>
    </div>
    
    <fieldset>
        <legend>Select One Course</legend>
        <p>
            <input id="mvc" type="radio" name="SelectedCourse" value="ASP.NET Core MVC"/>
            <label for="">ASP.NET Core MVC</label>
        </p>
        <p>
            <input id="api" type="radio" name="SelectedCourse" value="ASP.NET Core API"/>
            <label for="">ASP.NET Core API</label>
        </p>
        <p>
            <input id="api" type="radio" name="SelectedCourse" value="Blazor"/>
            <label for="">Blazor</label>
        </p>
    </fieldset>


    <div>
        <button class="btn btn-primary"  type="submit">Apply</button>

        <a class="btn btn-warning " href="/">Home</a>
    </div>

</form>